.crh1{
    text-align:center;
    border: 10px solid black;
    border-width: 90%;
    border-radius:20px;
    padding: 10px;
    background-color: rgb(244, 247, 247);  
}


.crwater{
    float: right;
    width:35%;
    height: 1000px;
    margin: auto;
}

.crland{
    float: left;
    width:35%;
    height: 1000px;
    margin:auto;
}

@media only screen and (max-width: 900px) {
    .crwater,
    .crland {
      display: none;
    }
  }



.crbody{
    background-image: linear-gradient(to right,rgb(73, 110, 37), rgb(14, 166, 208) );
}

.snameb{
    padding:11px;
    border-radius:10px;
    padding-right:50px;
    border:4px gray solid;
}

.fname{
    margin-right:200px;
}

.fnameb{
    padding:10px;
    border-radius:10px;
    padding-right:40px;
    border:4px gray solid;
   
}

.crdob{
    padding:10px;
    border-radius:10px;
    border:4px gray solid;
    text-align:center;
}

.cremail2{
    padding:10px;
    padding-right:100px;
    border-radius:10px;
    border:4px gray solid;
    text-align: left;
   
}

.crh2{
    text-align: center;
}

.crint{
    font-size: 25px;
    text-align: center;
}

.crnotis{
    font-size: 25px;
    text-align: center;
}

.crbut{   
    display: inline-block;
    margin-left:65px; auto;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 4px gray solid;
    font-size: 18px;
}

button:hover{
    background-color: rgb(42, 123, 136); 
    color: white;
}

button {
    transition-duration: 0.4s;
  }

form{
    margin:0 auto;
    max-width:600px;
    font-size: 20px;
}

@media only screen and (max-width : 320px) {       /* insert your styles here */ } /*Smartphones*/

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape){     /* insert your styles here */ } /*iPads*/

@media only screen and (min-width : 1224px) {      /* insert your styles here */ } /* Desktops and laptops */