h1{
    text-align:center;
}

head{
    color:#000;
}

form {
    text-align:center;
}

.water{
    float: right;
    height:100%;
    width:35%;
    height: 1000px;
}

.land{
    float: left;
    height:100%;
    width:35%;
    height: 1000px;
}

body{
    background-image: linear-gradient(to right,rgb(73, 110, 37), rgb(42, 113, 132) );
}

